---

- name: Check network device OS
  assert:
    that: >
      ansible_network_os == 'nxos' or
      ansible_network_os == 'ios'
    msg: "Network device OS not defined or not supported by this role: {{ ansible_network_os }}"

- name: Configure nxos aaa tacacs servers
  nxos_aaa_server_host:
    state: present
    server_type: tacacs
    address:  "{{ item.ip | default(item.name) }}" 
    tacacs_port: "{{ item.t_port | default(omit) }}"
    host_timeout: "{{ item.timeout | default(omit) }}"
    key: "{{ item.t_key | default(omit) }}"
  with_items: "{{ aaa_servers }}"
  when: >
    ansible_network_os == 'nxos' and    
    item.is_tacacs | default(false) == True
  notify:
    - Tacacs global
    - Tacacs group
    - aaa central auth    
#    - aaa auth
  tags: 
    - aaa_config
    - tacacs_config
    - nxos

- name: Configure nxos aaa radius servers
  nxos_aaa_server_host:
    state: present
    server_type: radius
    address: "{{ item.ip | default(item.name) }}"
    auth_port: "{{ item.r_auth_port | default(omit) }}"
    acct_port: "{{ item.r_acct_port | default(omit) }}"
    host_timeout: "{{ item.timeout | default(omit) }}"
    key: "{{ item.r_key | default(omit) }}"
  with_items: "{{ aaa_servers }}"
  when: >
    ansible_network_os == 'nxos' and
    item.is_radius | default(false) == True
  notify:
    - Radius global 
    - aaa central auth
  tags: 
    - aaa_config
    - radius_config
    - nxos

- name: Configure nxos aaa auth/acct to local
  nxos_config:
    lines: 
      - aaa authentication login default group local
      - aaa authentication login console group local
      - aaa authentication login error-enable
      - aaa authentication login ascii-authentication
    parents:   
  when: >
    ansible_network_os == 'nxos' and
    aaa_vars.only_local == True
  tags: 
    - aaa_config    
    - nxos
